__pycache__
*.pyc
*.pyo
*.pyd
.env
.git
.gitignore
*.db-shm
*.db-wal
docking_files/proteins/*
docking_files/ligands/*
docking_files/pdbqt/*
docking_files/results/*
!docking_files/proteins/.gitkeep
!docking_files/ligands/.gitkeep
!docking_files/pdbqt/.gitkeep
!docking_files/results/.gitkeep
load_test.py
load_test_results.json
